<div class="w-64 bg-gray-900 text-white h-screen">
    <div class="p-4 text-2xl font-bold flex justify-between items-center mb-6">
        Admin One
        <div class="relative">
            <button (click)="toggleDropdown($event)" class="text-gray-600 focus:outline-none">
                <i class="fas fa-cog"></i>
            </button>
            <div *ngIf="isDropdownOpen" 
                 class="absolute right-0 top-full mt-2 w-48 bg-white rounded-md shadow-lg py-1 z-10">
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" (click)="logout()">Đăng xuất</a>
            </div>
        </div>
    </div>
    <nav class="mt-10">
        <div class="mt-4">
            <a class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700" routerLink="/admin/products" routerLinkActive="bg-gray-700" [routerLinkActiveOptions]="{ exact: true }">
                Quản lý sản phẩm
            </a>
            <a class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700" routerLink="/admin/categories" routerLinkActive="bg-gray-700" [routerLinkActiveOptions]="{ exact: true }">
                Quản lý loại hàng
            </a>
            <a class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700" routerLink="/admin/attributes" routerLinkActive="bg-gray-700" [routerLinkActiveOptions]="{ exact: true }">
                Quản lý thuộc tính
            </a>
        </div>
    </nav>
</div>